<!DOCTYPE html>
<html ng-app = "github">
<head>
	<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	
	<script type="text/javascript" src="js/github.js"></script>

</head>
<body style="background-color:#ADD8E6">
	<div class="container" ng-controller="gitController"  ng-init="myFunction()">
		
		<nav class="navbar " style="background-color: #2e95bd">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#" style="font-size:21px;color:black">GIT INFO</a>
			    </div>
			  </div>
		</nav>

		<div class="container" >
			<div class="form-group">
			 <div class = "input-group input-group-lg">
	         <span class = "input-group-addon">USERNAME</span>
	         <input type = "text" class = "form-control" placeholder = "SEARCH FOR ANY GITHUB USERNAME" ng-model="query">
	         <span class = "btn input-group-addon" ng-click='setQuery(query)'>Search</span>
	      	 </div>
			</div>
		</div>

		<hr>
		<div >
			<div class="row">
			  <div class="col-sm-3">
			  	<div class="panel panel-info">
				  <div class="panel-heading">Personal Info</div>
				  <div class="panel-body">
				  		<img ng-src={{user_pic}} 	 class="img-responsive center-block" width="200px" height="400px">
				  		<br>
				  		<div style="font-family: Times New Roman, Georgia, Serif">
				  			<h4>Username: {{username}}</h4>
				  			<h4>Name: {{name}}</h4>
				  			<h4>Email: {{email}}</h4>
				  			<h4>Url: {{url}}</h4>
				  			<h4>Repositories: {{repos}}</h4>
				  			<h4>Followers: {{followers}}</h4>
				  			<h4>Following: {{following}}</h4>
				  			<h4>Created at: {{created}}</h4>
				  		</div> 
				  </div>
				</div>
				<div class="panel panel-info">
				  <div class="panel-heading">Followers
				  </div>
				  <div class="panel-body">
				  	<table class="table">
				  		<tbody>
				  			<tr ng-repeat="follower in follower_s">
				  				<td>
				  					<a ng-click="search(follower.login)">{{follower.login}}
				  					</a>
				  				</td>
				  			</tr>
				  		</tbody>	
				  	</table>
				  </div>
				</div>>
			  </div>
			  
			  <div class="col-sm-9">
			  	  <div class="panel panel-info">
					  <div class="panel-heading">Repositories</div>
					  <div class="panel-body">
					  	<table class="table">
					  		<thead>
					  			<th>Repositories</th>
					  			<th>CloneUrl</th>
					  		</thead>		
					  		<tbody>
					  			<tr ng-repeat="repo in repositories">
					  				<td>
					  				<h3>
					  				<a href={{repo.html_url}} style="text-decoration:none">{{repo.name}}</h3></a>
					  				<h6>{{repo.name}}</h6>
					  				</td>
					  				<td>
					  					<input type = "text" class = "form-control" value={{repo.clone_url}} readonly>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
					  </div>
				  </div>
			  </div>
			  
			</div>
		</div>

	</div>
</body>
</html>